.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.main {
  flex: 1;
  display: flex;
  height: fit-content;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 5rem;
}
